version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
